@import "../variables.scss";

.copyright {
  margin-top: 20px;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $black;
  font-size: 14px;
  line-height: 26px;
}

.copyright__text {
  margin: 0;
}

.copyright__link {
  color: $black;
}
