@import "../variables.scss";

.find-us {
  padding: 20px;
  text-align: center;

  &__title {
    margin: 0;

    font-family: "PT Sans Bold", "Arial", sans-serif;
    color: $black;
    font-size: 21px;
    line-height: 26px;
  }

  &__description {
    margin: 20px 0 20px 0;

    font-family: "PT Sans", "Arial", sans-serif;
    color: $black-alt;
    font-size: 14px;
    line-height: 24px;
  }

  &__button {
    margin-bottom: 40px;
  }

  &__map-image {
    margin: 0 -20px;
  }
}
