@import "../variables.scss";
@import "../mixins.scss";

.gallery__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 14px;
  line-height: 24px;
}

.gallery__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.gallery__image {
  display: block;
}

.gallery__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__title {
  margin: 0;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: $black;
}

.gallery__author {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $black-alt;
  text-transform: none;
}

.gallery__likes {
  margin: 0;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: $black-alt;
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery__description {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .gallery__item {
    flex-basis: 324px;
    padding-bottom: 0;

    &--big {
      flex-basis: 100%;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__item {
    position: relative;
    flex-basis: 400px;

    &--big {
      height: 400px;
      flex-basis: 100%;
    }
  }

  .gallery__description {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .gallery__title {
    color: white;
  }

  .gallery__author {
    color: white;
  }

  .gallery__likes {
    color: white;
  }
}
