@import "../variables.scss";
@import "../mixins.scss";

.page-footer {
  @include list-reset();

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: white;
}

.page-footer__contacts {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: $black;
  font-size: 21px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1200px;
  }
}
