.promo {
  min-height: 389px;

  background-color: #ddebf4;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
