@import "../variables.scss";
@import "../mixins.scss";

.site-list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}

.site-list__item {
  text-align: center;
  background-color: $light-grey-blue;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active .site-list__link {
    opacity: 0.3;
  }
}

.site-list__link {
  display: block;
  padding: 18px;
  padding-top: 17px;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 21px;

  &--last {
    padding-bottom: 17px;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
    align-items: center;
    min-height: 56px;
  }

  .site-list__item {
    flex-grow: 1;
    padding: 0;
    min-width: 153px;

    background-color: #ffffff;
    box-shadow: none;

    &:nth-child(2) {
      margin-right: 10%;
    }

    &:nth-child(3) {
      margin-left: 10%;
    }

    &:hover {
      background-color: inherit;
    }
  
    &:active {
      background-color: inherit;
    }
  }

  .site-list__link {
    padding: 15px;

    color: $black;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      color: #81b3d2;
    }

    &--active {
      color: #766357;

      &:hover {
        color: #604e43;
      }
    }
  }

  &--last {
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    min-width: 239px;
  }
}
