@import "blocks/accordion.scss";
@import "blocks/advantage-description.scss";
@import "blocks/advantage-heading.scss";
@import "blocks/advantages.scss";
@import "blocks/copyright.scss";
@import "blocks/feedback-form.scss";
@import "blocks/find-us.scss";
@import "blocks/gallery.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/player.scss";
@import "blocks/promo.scss";
@import "blocks/site-list.scss";
@import "blocks/social.scss";
@import "blocks/video.scss";
@import "mixins.scss";
@import "variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  padding: 18px;
  width: 100%;

  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: white;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  border: 0;
}

.button--blue {
  color: white;
  background-color: $light-grey-blue;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff");
  src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff") format("woff");
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
